<form class="forget-password-form" action="/password_reset" accept-charset="UTF-8" method="post">
  <input name="utf8" type="hidden" value="✓">
  <%= tag(:input, :type => "hidden", :name =>
      request_forgery_protection_token.to_s, :value =>
              form_authenticity_token) %>
  <label for="email">请输入您绑定的邮箱</label>
  <input class="form-control" type="email" name="email" id="email">
  <input type="submit" name="commit" value="发送重置密码邮件" class="btn btn-primary">
</form>

<style>
  .forget-password-form {
    margin: 280px auto 10px auto;
    background: white;
    width: 350px;
    border: 1px solid gainsboro;
    border-radius: 4px;
    padding-bottom: 25px;
  }
</style>