<form class="password-reset-form" action="/update_password" accept-charset="UTF-8" method="post">
  <input name="utf8" type="hidden" value="✓">
  <%= tag(:input, :type => "hidden", :name =>
      request_forgery_protection_token.to_s, :value =>
              form_authenticity_token) %>

  <label for="student_原密码">原密码</label>
  <input class="form-control" type="password" name="old_password">

  <label for="student_新密码">新密码</label>
  <input class="form-control" type="password" name="password">

  <label for="student_再次确认新密码">再次确认新密码</label>
  <input class="form-control" type="password" name="password_confirmation">

  <input type="submit" name="commit" value="修改密码" class="btn btn-primary" data-disable-with="修改密码">
</form>

<style>

  .password-reset-form, input {
    margin: 10px 0;
  }
</style>