<form class="forget-password-form" action="/to_password_reset" accept-charset="UTF-8" method="post">
  <input name="utf8" type="hidden" value="✓">
  <input type="hidden" name="_method" value="patch"><input type="hidden" name="authenticity_token" value="<%=@token %>">
  <input name="utf8" type="hidden" value="✓">
  <input type="hidden" name="_method" value="patch"><input type="hidden" name="token" value="<%=@token %>">
  <input name="utf8" type="hidden" value="✓">
  <input type="hidden" name="_method" value="patch"><input type="hidden" name="email" value="<%=@email %>">
  <label for="password">密码</label>
  <input class="form-control" type="password" name="password" id="password">
  <label for="password_confirmation">确认密码</label>
  <input class="form-control" type="password" name="password_confirmation" id="password_confirmation">

  <input type="submit" name="commit" value="修改密码" class="btn btn-primary">
</form>

<style>
  .forget-password-form {
    margin: 250px auto 10px auto;
    background: white;
    width: 350px;
    border: 1px solid gainsboro;
    border-radius: 4px;
    padding-bottom: 25px;
  }
</style>